VITE_SUPABASE_URL="https://hwcoxwwbzxfvxuppnvni.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Y294d3dienhmdnh1cHBudm5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NzUwODEsImV4cCI6MjEwNjI1MTA4MX0.-nUvI2WItVU7Em3w1gLFBZQcqAslBTuI34INrL5DBhE"
